<div class="page-header">
  <h3>Region #<%= @region.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Name</dt>
      <dd><%= @region.name %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/regions" class="btn btn-primary">
        Back
      </a>
      <a href="/regions/<%= @region.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_region/<%= @region.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>

<!-- A Region has many departments -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Departments
      </li>

      <% @region.departments.each do |department| %>
        <li class="list-group-item">
          <a href="/departments/<%= department.id %>">
            <%= department.name %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/departments/<%= department.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/departments/<%= department.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_department/<%= department.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>

      <li class="list-group-item">
        <form action="/create_department" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for name -->
      <div class="form-group">
        <label for="name" class="control-label">
          Name
        </label>

        <input type="text" id="name" name="name" placeholder="Name" class="form-control" value="">
      </div>

      <!-- Label and input for mcm_id -->
      <div class="form-group">
        <label for="mcm_id" class="control-label">
          Mcm
        </label>

        <input type="text" id="mcm_id" name="mcm_id" placeholder="Mcm" class="form-control" value="">
      </div>

      <!-- Label and input for region_id -->
      <input type="hidden" name="region_id" value="<%= @region.id %>">

      <button class="btn btn-block btn-success">
        Create Department
      </button>
    </form>
      </li>
    </ul>
  </div>
</div>

<!-- A Region has many requirements -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Requirements
      </li>

      <% @region.requirements.each do |requirement| %>
        <li class="list-group-item">
          <a href="/requirements/<%= requirement.id %>">
            <%= requirement.employee_id %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/requirements/<%= requirement.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/requirements/<%= requirement.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_requirement/<%= requirement.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>

      <li class="list-group-item">
        <form action="/create_requirement" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for employee_id -->
      <div class="form-group">
        <label for="employee_id" class="control-label">
          Employee
        </label>

        <%= select_tag(:employee_id, options_from_collection_for_select(Employee.all, :id, :mcm_userid), :class => "form-control") %>
      </div>

      <!-- Label and input for department_id -->
      <div class="form-group">
        <label for="department_id" class="control-label">
          Department
        </label>

        <%= select_tag(:department_id, options_from_collection_for_select(Department.all, :id, :name), :class => "form-control") %>
      </div>

      <!-- Label and input for region_id -->
      <input type="hidden" name="region_id" value="<%= @region.id %>">

      <!-- Label and input for elearning_id -->
      <div class="form-group">
        <label for="elearning_id" class="control-label">
          Elearning
        </label>

        <%= select_tag(:elearning_id, options_from_collection_for_select(Elearning.all, :id, :title), :class => "form-control") %>
      </div>

      <button class="btn btn-block btn-success">
        Create Requirement
      </button>
    </form>
      </li>
    </ul>
  </div>
</div>
